<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
</style>
</head>
<body>
<h1>Welcome to you porfolio, <%= @user.username %>!</h1><br>

<h3>What would you like to do today?<h3>

<h4><a href="/books">Review my porfolio</a></h4>
<h4><a href="/books/new">Add new artwork</a></h4>
<h4><a href="/logout">Log out</a></h4>

</body>